body {
    background-image: url("../images/crystal-background.jpg");
    font-family: 'Fahkwang', sans-serif;
}

.container {
    background: #ffffff;
    opacity: .8;
}

h1{
    background: #231616;
    color: #ffffff;
}

.crystal-image {
    height: 100px;
    width: 100px;
}
